@page "{*Id}"
@using SiteWeb.Extensions;
@using SiteWeb.Models.Enquiries;
@model SiteWeb.Pages.Account.Admin.Enquiries.DetailsModel
@{
	var details = Model.Details;

	if (details == null)
	{
		return;
	}
}

<section class="mini-form">
	<div class="container">
		<div class="row">
			<div class="xs-12">
				<form class="mini-form-detail" method="post">
					<select class="select-field" id="enquiry-status" name="enquiry-status">
						@foreach (var i in Enum.GetValues(typeof(EnquiryStatus)))
						{
							if ((EnquiryStatus)i == EnquiryStatus.Unknown)
							{
								continue;
							}
							if (details.Status == (EnquiryStatus)i)
							{
								<option value="@i" class="" selected>@(EnumExtensions.GetName((EnquiryStatus)i))</option>
							}
							else
							{
								<option value="@i" class="">@(EnumExtensions.GetName((EnquiryStatus)i))</option>
							}

						}
					</select>
					<button class="btn-primary btn-mf" type="submit">Save</button>
				</form>
			</div>
		</div>
	</div>
</section>


<section class="panel-info">
	<div class="container">
		<div class="row panel-info-main">
			<div class="xs-10">
				<h1 class="panel-info-id">@details.FirstName @details.LastName</h1>
			</div>
			<div class="xs-2">
				<form class="mini-form-detail justify-content-end" method="post" asp-page-handler="delete">
					<button class="btn-danger btn-mf" type="submit">Delete</button>
				</form>
			</div>
			<div class="xs-12 sm-12 lg-6">
				<div class="row">
					<div class="xs-12 sm-5"><h4>Email Address:</h4></div>
					<div class="xs-12 sm-7"><h5>@details.Email</h5></div>
				</div>
			</div>
			<div class="xs-12 sm-12 lg-6">
				<div class="row">
					<div class="xs-12 sm-5"><h4>Phone Number:</h4></div>
					<div class="xs-12 sm-7"><h5>@details.PhoneNumber</h5></div>
				</div>
			</div>
			<div class="xs-12 sm-12 lg-6">
				<div class="row">
					<div class="xs-12 sm-5"><h4>Submitted date:</h4></div>
					<div class="xs-12 sm-7"><h5>@details.CreatedDate.ToShortDateString()</h5></div>
				</div>
			</div>
			@if (details.UpdatedDate.HasValue)
			{
				<div class="xs-12 sm-12 lg-6">
					<div class="row">
						<div class="xs-12 sm-5"><h4>Submitted date:</h4></div>
						<div class="xs-12 sm-7"><h5>@details.UpdatedDate.Value.ToShortDateString()</h5></div>
					</div>
				</div>
			}
		</div>
	</div>
</section>

<section class="panel-info">
	<div class="container">
		<div class="row panel-info-main">
			<div class="xs-12 sm-12 lg-6">
				@if (details.BestAvailability.HasValue)
				{
					<div class="row">
						<div class="xs-12 sm-5"><h4>Best Availability:</h4></div>
						<div class="xs-12 sm-7"><h5>@details.BestAvailability.Value.ToShortDateString() @details.BestAvailability.Value.ToShortTimeString()</h5></div>
					</div>
				}
			</div>
			<div class="xs-12 sm-12 lg-12">
				<div class="row">
					<div class="xs-12 sm-12"><h4>Notes:</h4></div>
					<div class="xs-12 sm-12"><h5>@details.Notes</h5></div>
				</div>
			</div>
		</div>
	</div>
</section>