@page
@model SiteWeb.Pages.Account.IndexModel
@{
    ViewData["Title"] = "Your Account";

    var userDetails = Model.UserDetails;

    if (userDetails is null)
    {
        return;
    }
}

<section class="disclaimer-section">
    <div class="container">
        <div class="body-margin">
            <div class="grid-x grid-padding-x">
                <div class="cell small-11 large-10 align-self-middle">
                    <div style="display: inline-flex;">
                        <h1 class="h2">@ViewData["Title"]</h1>
                    </div>
                </div>
                <div class="cell small-1 large-2 align-self-middle text-align-right">
                    <div class="dropdown-btn">
                        <button onclick="myFunction()" class="dropbtn"><i class="fa-solid fa-bars fa-xl"></i></button>
                        <div id="userDropdown" class="dropdown-btn-content">
                            @if (userDetails.IsAdmin)
                            {
                                <a asp-page="/account/admin/index" class="border-bottom">Admin system</a>
                            }
                            <a asp-page="/account/portfolios/index" class="border-bottom">Portfolios</a>
                            <a asp-page="/account/edit">Edit</a>
                            <a asp-page="/account/confirmDelete" class="dropdown-btn-danger">Delete</a>
                        </div>
                    </div>
                </div>
            </div>
            <br />
            <div class="grid-x grid-padding-x">
                <div class="cell small-12 large-2 align-self-middle">
                    <strong>First Name:</strong>
                </div>
                <div class="cell small-12 large-10 align-self-middle">
                    <span>@userDetails.FirstName</span>
                </div>
            </div>
            <div class="grid-x grid-padding-x">
                <div class="cell small-12 large-2 align-self-middle">
                    <strong>Last Name:</strong>
                </div>
                <div class="cell small-12 large-10 align-self-middle">
                    <span>@userDetails.LastName</span>
                </div>
            </div>
            <div class="grid-x grid-padding-x">
                <div class="cell small-12 large-2 align-self-middle">
                    <strong>Email Address:</strong>
                </div>
                <div class="cell small-12 large-10 align-self-middle">
                    <span>@userDetails.EmailAddress</span>
                </div>
            </div>
            <div class="grid-x grid-padding-x">
                <div class="cell small-12 large-2 align-self-middle">
                    <strong>Phone Number:</strong>
                </div>
                <div class="cell small-12 large-10 align-self-middle">
                    <span>@userDetails.PhoneNumber</span>
                </div>
            </div>
            <br />
            <div class="grid-x grid-padding-x">
                <div class="cell small-12 large-2 align-self-middle">
                    <strong>Address Line 1:</strong>
                </div>
                <div class="cell small-12 large-10 align-self-middle">
                    <span>@userDetails.AddressLine1</span>
                </div>
            </div>
            <div class="grid-x grid-padding-x">
                <div class="cell small-12 large-2 align-self-middle">
                    <strong>Address Line 2:</strong>
                </div>
                <div class="cell small-12 large-10 align-self-middle">
                    <span>@userDetails.AddressLine2</span>
                </div>
            </div>
            <div class="grid-x grid-padding-x">
                <div class="cell small-12 large-2 align-self-middle">
                    <strong>Town/City:</strong>
                </div>
                <div class="cell small-12 large-10 align-self-middle">
                    <span>@userDetails.City</span>
                </div>
            </div>
            <div class="grid-x grid-padding-x">
                <div class="cell small-12 large-2 align-self-middle">
                    <strong>County:</strong>
                </div>
                <div class="cell small-12 large-10 align-self-middle">
                    <span>@userDetails.County</span>
                </div>
            </div>
            <div class="grid-x grid-padding-x">
                <div class="cell small-12 large-2 align-self-middle">
                    <strong>Postcode:</strong>
                </div>
                <div class="cell small-12 large-10 align-self-middle">
                    <span>@userDetails.Postcode</span>
                </div>
            </div>
        </div>
    </div>
</section>
